.container {
    border: 1px solid black;
    height: 300px;

    display: flex; /* can be inline-flex too */
    flex-direction: row;
    flex-wrap: wrap; /* flex-flow can be used to shorthand direction and wrap */
    justify-content: space-around;
    align-content: stretch;
    /* align-items: stretch; got baseline compared to align-content */
    gap: 20px;
    row-gap: 30px;
}

.item {    
    background-color: beige;
    text-align: center;
    vertical-align: middle;
    flex-basis: 10rem;
}

.item1 {
    order: 1;
    flex-grow: 3;    
}

.item3 {
    order: -1;
    flex-grow: 2;
}

.item9 {
     flex-grow: 1;  
     align-self: stretch; /* not working on multiple rows with no height*/
}
